/* Page and details */

html, body {
  font-family: Arial;
  height: 100vh;
  width: 100vw;
}

main { /* set main content over out of way of Navbar */
  padding-left: 240px;
}

main p { /*set paragraphs w/in main section to be indented under h2/h3 */
  padding-right: 80px;
  padding-top: 0px;
  padding-left: 35px;
  padding-bottom: 10px;
}

h1 {
    color:white;
    background: linear-gradient(to right, rgb(184, 33, 41), rgb(209, 203, 203));
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    margin-right: 95px;
}

/* topnav container */

.topnav { 
  display: block;
  font-size: 20px;
  padding-left: 30px;
  width: 150px;
}

.topnav a {
  text-align: left;
  float: left;
  color: black;
  text-decoration-line: none;
  padding: 10px;
}

.topnav a:hover {
  color:rgb(209, 203, 203);
}

.topnav a.active {
  padding: 10px;
  margin: 0px;
  color:rgb(184, 33, 41);
}

image {
  float: center;
  padding-left: 0px;
}

.sticky { /*wrapped topnav and image in a "sticky" class and fixed position */
  position: fixed;
  padding-left: 45px;
  padding-top: 20px;
}

footer {
  text-align: center;
  background-color: rgb(209, 203, 203);
  padding: 20px;
  width: 100%;
  margin: 0px;
  color: rgb(184, 33, 41);
}

h2 {
  color: rgb(184, 33, 41);
}

.week { /* made "week" class to indent content under h1 */
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 5px;
}