/* Page details */

html {
  margin: 5px;
  padding: 30px; 
  border: 30px;
  font-family: Arial;
}

.sticky {
  position: fixed;
  padding-left: 20px;
  padding-top: 20px;
}

body {
  background-color: rgb(209, 203, 203);
}

main {
  padding-left: 200px;
}

main p {
  padding-right: 80px;
  padding-top: 0px;
  padding-left: 35px;
  padding-bottom: 10px;
}

h1 {
    color:white;
    background: linear-gradient(to right, rgb(184, 33, 41), rgb(209, 203, 203));
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-style: initial;
}

.card {
  background: whitesmoke;
}

/* topnav container */

.topnav {
  font-size: 20px;
  padding-left: 30px;
  margin: 0px;
  width: 200px;
}

.topnav a {
  display: block;
  text-align: left;
  color: black;
  text-decoration-line: none;
  padding: 10px;
}

.topnav a:hover {
  color:rgb(209, 203, 203);
}

.topnav a.active {
  padding: 10px;
  margin: 0px;
  color:rgb(184, 33, 41);
}


image {
  float: center;
  padding-left: 50px;
}



footer {
  text-align: center;
  background-color: rgb(107, 100, 100);
  padding: 20px;
  color: white;
}

h2 {
  color: rgb(184, 33, 41);
}

header {
  padding-top: 0px;
}

.week {
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 5px;
}